*.swp
.DS_Store
bin/configlet
bin/configlet.exe
ex.err
**/*.cmd
**/*.log
/backup
/docs/backup
/.github/workflows/backup
/.github/bin/backup
/bin/backup
/bin/tmp
/exercises/practice/acronym/backup
/exercises/practice/two-fer/.docs/backup
/exercises/shared/.docs/backup
/exercises/practice/acronym/.meta/backup
bin/ildump.txt
bin/list.asm
/exercises/practice/all-your-base/backup
/exercises/practice/all-your-base/lib/backup
/exercises/practice/allergies/.meta/backup
/exercises/practice/allergies/backup
/exercises/practice/anagram/.meta/backup
/exercises/practice/anagram/backup
/exercises/practice/armstrong-numbers/.meta/backup
/exercises/practice/armstrong-numbers/backup
/exercises/practice/binary-search/.meta/backup
/exercises/practice/binary-search/backup
/exercises/practice/bob/.meta/backup
/exercises/practice/bob/backup
/exercises/practice/clock/.meta/backup
/exercises/practice/clock/backup
/exercises/practice/collatz-conjecture/.meta/backup
/exercises/practice/collatz-conjecture/backup
/exercises/practice/difference-of-squares/.meta/backup
/exercises/practice/difference-of-squares/backup
/exercises/practice/dnd-character/.meta/backup
/exercises/practice/dnd-character/backup
/exercises/practice/eliuds-eggs/.meta/backup
/exercises/practice/forth/.meta/backup
/exercises/practice/forth/backup
/exercises/practice/game-of-life/.meta/backup
/exercises/practice/eliuds-eggs/backup
/exercises/practice/game-of-life/backup
/exercises/practice/gigasecond/.meta/backup
/exercises/practice/grains/.docs/backup
/exercises/practice/grains/.meta/backup
/exercises/practice/hamming/.meta/backup
/exercises/practice/hamming/backup
/exercises/practice/hello-world/.meta/backup
/exercises/practice/hello-world/backup
/exercises/practice/high-scores/.meta/backup
/exercises/practice/high-scores/backup
/exercises/practice/isbn-verifier/.meta/backup
/exercises/practice/isbn-verifier/backup
/exercises/practice/isogram/.meta/backup
/exercises/practice/isogram/backup
/exercises/practice/leap/.meta/backup
/exercises/practice/leap/backup
/exercises/practice/list-ops/.meta/backup
/exercises/practice/list-ops/backup
/exercises/practice/luhn/.meta/backup
/exercises/practice/luhn/backup
/exercises/practice/nucleotide-count/.meta/backup
/exercises/practice/nucleotide-count/backup
/exercises/practice/pangram/.meta/backup
/exercises/practice/pangram/backup
/exercises/practice/perfect-numbers/.meta/backup
/exercises/practice/perfect-numbers/backup
/exercises/practice/protein-translation/.meta/backup
/exercises/practice/protein-translation/backup
/exercises/practice/pythagorean-triplets/.meta/backup
/exercises/practice/pythagorean-triplets/backup
/exercises/practice/queen-attack/backup
/exercises/practice/raindrops/.meta/backup
/exercises/practice/raindrops/backup
/exercises/practice/resistor-color-duo/.meta/backup
/exercises/practice/resistor-color-duo/backup
/exercises/practice/resistor-color/.meta/backup
/exercises/practice/queen-attack/.meta/backup
/exercises/practice/resistor-color/backup
/exercises/practice/reverse-string/.meta/backup
/exercises/practice/reverse-string/backup
/exercises/practice/rna-transcription/.meta/backup
/exercises/practice/rna-transcription/backup
/exercises/practice/robot-simulator/.meta/backup
/exercises/practice/robot-simulator/backup
/exercises/practice/gigasecond/backup
/exercises/practice/darts/backup
/exercises/practice/darts/.meta/backup
/exercises/practice/all-your-base/.meta/backup
/exercises/practice/grains/backup
/exercises/practice/roman-numerals/.meta/backup
/exercises/practice/roman-numerals/backup
/exercises/practice/scrabble-score/.meta/backup
/exercises/practice/secret-handshake/.meta/backup
/exercises/practice/secret-handshake/backup
/exercises/practice/sieve/.meta/backup
/exercises/practice/sieve/backup
/exercises/practice/space-age/.meta/backup
/exercises/practice/space-age/backup
/exercises/practice/square-root/.meta/backup
/exercises/practice/triangle/.meta/backup
/exercises/practice/triangle/backup
/exercises/practice/two-fer/backup
/exercises/practice/two-fer/.meta/backup
/exercises/practice/yacht/.meta/backup
/exercises/practice/sum-of-multiples/backup
/exercises/practice/yacht/backup
/exercises/practice/sum-of-multiples/.meta/backup
/exercises/practice/strain/.meta/backup
/exercises/practice/strain/backup
/exercises/practice/square-root/backup
/exercises/practice/scrabble-score/backup
bin/configlet_4.0.0-beta.19_windows_x86-64.zip
bin/configlet-4.0.0-beta.19.zip
/exercises/practice/zebra-puzzle/.meta/backup
/exercises/practice/zebra-puzzle/backup
/exercises/practice/connect/.meta/backup
/exercises/practice/connect/backup
/exercises/practice/react/.meta/backup
/exercises/practice/react/backup
/exercises/practice/ocr/.meta/backup
/exercises/practice/alphametics/backup
/exercises/practice/alphametics/.meta/backup
/exercises/practice/ocr/backup
/exercises/practice/palindrome-products/.meta/backup
/exercises/practice/palindrome-products/backup
/exercises/practice/ocr-numbers/.meta/backup
/exercises/practice/ocr-numbers/backup
/exercises/practice/bowling/.meta/backup
/exercises/practice/bowling/backup
/exercises/practice/change/.meta/backup
/exercises/practice/change/backup
/exercises/practice/dominoes/.meta/backup
/exercises/practice/dominoes/backup
/exercises/practice/house/.meta/backup
/exercises/practice/house/backup
/exercises/practice/markdown/.meta/backup
/exercises/practice/markdown/backup
/exercises/practice/matching-brackets/.meta/backup
/exercises/practice/matching-brackets/backup
/exercises/practice/minesweeper/.meta/backup
/exercises/practice/minesweeper/backup
/exercises/practice/pig-latin/.meta/backup
/exercises/practice/pig-latin/backup
/exercises/practice/poker/.meta/backup
/exercises/practice/poker/backup
/exercises/practice/rail-fence-cipher/.meta/backup
/exercises/practice/rail-fence-cipher/backup
/exercises/practice/saddle-points/.meta/backup
/exercises/practice/saddle-points/backup
/exercises/practice/spiral-matrix/.meta/backup
/exercises/practice/spiral-matrix/backup
/exercises/practice/state-of-tic-tac-toe/.meta/backup
/exercises/practice/state-of-tic-tac-toe/backup
/exercises/practice/transpose/.meta/backup
/exercises/practice/transpose/backup
/exercises/practice/two-bucket/.meta/backup
/exercises/practice/two-bucket/backup
/exercises/practice/variable-length-quantity/.meta/backup
/exercises/practice/variable-length-quantity/backup
/exercises/practice/word-search/backup
/exercises/practice/word-search/.meta/backup
